:root {
  --primary-text-color: #212121;
  --secont-text-color: #757575;
  --primary-bg-color: #FFFFFF;
  --second-bg-color: #2f303a;
  --color-button-accent: #2196F3;
  --color-secondary: #F5F4FA;
  --card-border-color: #eeeeee;
  --color-text-white: #FFFFFF;
  --acent-color: #AFB1B8;
  --color-logo: #000000;
}

$primary-text-color: #212121;
$secont-text-color: #757575;
$primary-bg-color: #FFFFFF;
$second-bg-color: #2f303a;
$color-button-accent: #2196F3;
$color-secondary: #F5F4FA;
$card-border-color: #eeeeee;
$color-text-white: #FFFFFF;
$acent-color: #AFB1B8;

$font-family: "Roboto", sans-serif;
$font-family: "Raleway", sans-serif;

$color-logo: #000000;
$time-hover: 250ms;
$cubic-for-all: cubic-bezier(0.4, 0, 0.2, 1);